
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scratch card using HTML5 and Canvas</title>
    <link rel="stylesheet" href="/static/css/scratch.css">
</head>
<body>
    <audio id="background-music" src="/static/music/Jazz.mp3" loop autoplay></audio>
    <div class="sc__wrapper">
        <h1>Raspa para Descobrir ❤️</h1>
        <div id="js--sc--container" class="sc__container"></div>
        <button id="js--next-button" class="sc__next-button">Avançar</button>
        <p id="js--completion-message" style="display: none; color: green; font-size: 1.2rem; margin-top: 10px; text-align: center;"></p>
    </div>
</body>
<script src="/static/js/scratch.min.js"></script>
<script src="/static/js/scratch.js"></script>
</html>